http://localhost:55160/WebForm1.aspx
http://localhost:55160/foo/



<easycache>
  <match ttl="30">
    <condition input="path" type="startwith" value="/foo"/>
    <condition input="content-type" type="exact" value="text/html" />
  </match>
</easycache>




onrequest(request) {
  return request.method == "GET" && request.host == "x.x.x.x" && request.path.StartWith("/foo/");
}

onresponse(response) { 
   if (response.status equals 200) {
     return cache, ttl=200;
   }
}
